body {
  font-family: verdana, sans-serif;
  background-color: #222;
  color: #ddd;
}

h1 {
  font-size: 17pt;
}

#app {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 600px;
  height: 500px;
}

#app-world {
  outline: none;
  padding: 0 10px;
}

#app-world:focus {
  border: 1px solid #333;
  height: 500px;
}

#level-box h1 {
  font-size: 22pt;
  color: #555;
}

#question-box {
  text-align: center;
  height: 300px;
}

#question-display {
  color: #999;
}

#answer-box {
  margin-top: 60px;
  height: 40px;
  text-align: center;
  color: #999;
}

#answer-display {
  color: #eee;
  height: 22px;
}

#tool-box {
  margin-top: 40px;
  display: none;
}
