/*
  Clojure Logo colors:

  dark blue  : #5881d8
  light blue : #90b4fd
  dark green : #68b132
  light green: #91dc47
*/

body {
  font-family: verdana, sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #90b4fd;
}

a:hover {
  color: #5881d8;
}

#app {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 600px;
  height: 500px;
  display: none;
  z-index: 1;
}

#app-world {
  outline: none;
  padding: 0 10px;
}

#level-box {}

#level-box h1.level {
  font-size: 23pt;
  color: #5881d8;
  float: left;
}

#level-box h1.question-num {
  font-size: 23pt;
  color: #5881d8;
  float: right;
}

#question-box {
  clear: both;
  height: 200px;
}

#question-display {
  font-size: 22pt;
  font-family: "Courier New", monospace;
  padding-top: 20px;
  color: #90b4fd;
  white-space: pre;
}

#answer-box {
  height: 200px;
}

#answer-input {
  font-size: 22pt;
  font-family: "Courier New", monospace;
  color: #91dc47;
  background-color: #e6f7d6;
  outline: none;
  width: 100%;
  height: 40px;
  margin-top: 75px;
  padding-left: 5px;
  border: 1px solid #C1EB98  ;
}

#attract {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 600px;
  height: 500px;
  z-index: 2;
}

#attract h1 {
  color: #5881d8;
  font-size: 50pt;
  text-align: center;
}

#attract p {
  text-align: center;
  padding-top: 80px;
}

#start-button {
  border: 0;
  width: 200px;
  height: 50px;
  font-size: 20pt;
  color: #68b132;
  background-color: #fff;
  border: 1px solid #68b132;
  position: relative;
  left: 33%;
}

#start-button:hover {
  color: #91dc47;
  border: 1px solid #91dc47;
  cursor: pointer;
}

#game-over {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 600px;
  height: 500px;
  z-index: 0;
  display: none;
}

#game-over h1 {
  color: #5881d8;
  font-size: 50pt;
  text-align: center;
}

#game-over p {
  text-align: center;
}

#points {
  color: #68b132;
  font-size: 20pt;
  text-align: center;
}

#missed {
  color: #68b132;
  font-size: 20pt;
  text-align: center;
}

#about {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 600px;
  height: 500px;
  color: #5881d8;
}
