body {
    font-family: georgia, serif;
}

h1 {
  font-size: 17pt;
}

#app {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 400px;
  height: 500px;
  padding: 0 10px;
}

#level-box h1 {
  font-size: 24pt;
}

#question-box {}

#answer-box {
  margin-top: 40px;
}

#tool-box {
  margin-top: 40px;
}
