/*
  Clojure Logo colors:

  dark blue  : #5881d8
  light blue : #90b4fd
  dark green : #68b132
  light green: #91dc47
*/

body {
  font-family: verdana, sans-serif;
  background-color: #fff;
}

#app {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 600px;
  height: 500px;
  display: none;
}

#app-world {
  outline: none;
  padding: 0 10px;
}

#level-box {}

#level-box h1 {
  font-size: 23pt;
  color: #5881d8;
}

#question-box {
  height: 200px;
}

#question-display {
  fong-size: 22pt;
  text-align: center;
  color: #90b4fd;
}

#answer-box {
  text-align: center;
  height: 200px;
}

#answer-input {
  font-size: 22pt;
  font-weight: bold;
  color: #91dc47;
  background-color: #fff;
  text-align: center;
  outline: none;
  width: 100%;
  height: 40px;
  margin-top: 75px;
  border: 1px solid #91dc47;
}

#attract {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 600px;
  height: 500px;
}

#start-button {
  border: 0;
  width: 300px;
  height: 100px;
  font-size: 22pt;
}

#game-over {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 600px;
  height: 500px;
  display: none;
}
