body {
    font-family: georgia, serif;
}

h1 {
  font-size: 17pt;
}

#app {
  position: absolute;
  top: 10%;
  left: 30%;
  background-color: #ccc;
  width: 400px;
  height: 500px;
  padding: 0 10px;
}
